{% extends "base.html" %}
{% block title %}Diagnosis List{% endblock %}
{% block content %}
<table class="table">
  <thead>
  <tr>
    <h2 STYLE="text-align: center"><b>Diagnosis List</b></h2>
    <th>PATIENT</th>
    <th>DOCTOR</th>
    <th>DIAGNOSIS</th>
    <th>DATE_DIAGNOSED</th>

  </tr>

  </thead>
  <tbody>
  {% for diagnosis in diagnosis %}
  <tr>
    <td>{{ diagnosis.patient }}</td>
    <td>{{ diagnosis.doctor }}</td>
    <td>{{ diagnosis.diagnosis }}</td>
    <td>{{ diagnosis.date_diagnosed }}</td>
    <td><a href="{% url 'updatediagnosis' diagnosis.id %}" class="btn btn-success" type="button">UPDATE DIAGNOSIS</a></td>
    <td><a href="{% url 'deletediagnosis' diagnosis.id %}" class="btn btn-danger" type="button" onclick="return confirm('Are you sure you want to delete')">DELETE DIAGNOSIS</a></td>

  </tr>
  {% endfor %}
  </tbody>



</table>



{% endblock %}